doctype html
html
  head
    title Vivek's Ecommerce Website 
    block scripts
      script(src=" https://unpkg.com/boxicons@2.1.4/dist/boxicons.js") 
    block style
      style 
        include ../static/style.css

  body
    nav#navbar
        ul
            li#logo
              a(href="/" )
                  img(src="/static/img/logo.png", alt="logo" )
            li
              a(href="/account")
                box-icon(name='user')
            li
              a(href="/shop")
                box-icon(name='store')
            li 
              a(href="/cart")
                box-icon(name='cart')
            li 
              a(href="/contact")
                box-icon(name='phone-call')

    block content
    section#footer
        h3 Copyright © 2023 VivekEcommerceWebsite.com | All rights reserved