extends base.pug

block scripts
    script(src='../static/index.js')
    script(src=" https://unpkg.com/boxicons@2.1.4/dist/boxicons.js") 

block style
    style 
        include ../static/style.css
        include ../static/styleProduct.css

block content 
    div.container
        div.box
            img(src="/static/img/cactustee.png")
        div.content
            h1 Cactus Tee
            h6 Rs. 3,000.00
            form(action="/Cactus-Tee",method="post",class="myForm")
                input(type="hidden",class="myInput",name="proName",value="Cactus Tee")
                input(type="hidden", class="myInput", name="proImage", value="../static/img/cactustee.png")
                input(type="text",class="myInput",name="quantity",placeholder="qty" alt="1")
                input(type="hidden",class="myInput",name="size",value="Adult")
                input(type="hidden",class="myInput",name="price",value="3000")
                //- button.btn-add-to-cart(type="button") Add to Cart
                button(class="btn") Add to cart 
                
            