extends base.pug

block scripts
    script(src='/index.js')
    script(src=" https://unpkg.com/boxicons@2.1.4/dist/boxicons.js") 

block style
    style 
      include ../static/style.css
      include ../static/styleShop.css

block content 
    h1 Our Products
    div.container
        div.box 
                img(src="/static/img/newarrivalstshirt.png" )
                li #[a(href="/A-Man-Of-Great-Wealth") A Man of Great Wealth Tee] 
                
        div.box
                img(src="/static/img/skateboarderhoodie.png" ) 
                li #[a(href="/Skateboarder-Hoodie") Skateboarder Hoodie] 
    div.container
                
   
        div.box 
                 img(src="/static/img/thatwasepiccap.png" )
                 li #[a(href="/thatwasepiccap") Tht Was Epc Cap] 

        div.box
                img(src="/static/img/gatolococap.png" )
                li #[a(href="/Gato-Loco") Gato Loco cap] 
    div.container
        div.box 
                img(src="/static/img/livelifetee.png" ) 
                li #[a(href="/Live-Life") Live Life Tee] 
        div.box
                img(src="/static/img/positiveimpressiontee.png" ) 
                li #[a(href="/Positive-Impression-Tee") Positive Impression Tee] 
    
    div.container
        div.box 
                img(src="/static/img/thatwasepichoodie.png" ) 
                li #[a(href="/That-Was-Epic-Hoodie") Tht Was Epc Hoodie] 
        div.box
                img(src="/static/img/cactustee.png" ) 
                li #[a(href="/Cactus-Tee") Cactus Tee] 