extends base.pug

block scripts
    script(src='../static/index.js')

block style
    style 
        include ../static/style.css
        include ../static/styleProduct.css

block content 
    div.container
        div.box
            img(src="/static/img/thatwasepiccap.png")
        div.content
            h1 Tht Was Epc Cap
            h6 Rs. 2,100.00
            form(action="/Skateboarder-Hoodie",method="post",class="myForm")
                input(type="hidden",class="myInput",name="proName",value="Tht Was Epc Cap")
                input(type="hidden", class="myInput", name="proImage", value="../static/img/thatwasepiccap.png")
                input(type="text",class="myInput",name="quantity",placeholder="qty" alt="1")
                input(type="hidden",class="myInput",name="size",value="Adult")
                input(type="hidden",class="myInput",name="price",value="2100")
                //- button.btn-add-to-cart(type="button") Add to Cart
                button(class="btn") Add to cart 
                
            