* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 251, 244);
}

#cart-contents {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: rgb(255, 251, 244);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.cart-items {
  max-height: 400px; /* Adjust the maximum height as needed */
  overflow-y: auto;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item img.productImage {
  width: 5vw;
  height: auto;
  margin-right: 15px;
}

.cart-item p {
  font-size: 18px;
  margin-bottom: 3px;
}

.subtotal {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item img.productImage {
    width: 10vw;
    margin-right: 0;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .cart-item p {
    font-size: 16px;
    margin-bottom: 2px;
  }
}
.productImage{
  width: 5vw;
}