* {
  background-color: rgb(255, 251, 244);
    color:black
  }
  #navbar {
    color: black;
    background-color: rgb(255, 251, 244);
    padding: 1vh 1vw;
  }
  #navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
  }
  #navbar li {
    list-style: none;
  }
  #navbar li a {
    text-decoration: none;
    padding: 0.5vh 0.5vw;
    /* font-size: 1rem; */
    font-size: 20px;
    color: black;
  }
  #navbar li a:hover {
    color: red;
  }
  h1 {
    text-align: center;
    margin-bottom: 3vh;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: auto;
    align-items: center;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    margin-bottom: 0px;
  }
  
  .box {
    width: 30vw;
    height: 35vh;
    background-color: rgb(255, 251, 244);
    color: black;
    margin: 1%;
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    display: flex;
    flex-direction: column;
  }
 
  
  .box img {
    width: 15vw;
    height: 25vh;
    /* border: 1px solid red; */
    border-radius: 20px;
  }
  .box li{
    margin-top: 1vh;
    list-style: none;
    font-size: 3vh;
  }
  #footer {
    height: 60px;
    background-color: rgb(255, 251, 244);
  }
  #footer h3 {
    padding-top: 16px;
    color: black;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Fasthand";
  }
  